.Profielen {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2%; 
}

.Profielen img {
  width: 150px; 
  height: auto;
}       

.Netflix_Titel {
  font-size: 48px;
  color: #ffffff; 
  text-align: center;
}
body {
  background-color: #000000; 
}
.Namen {
  font-size: 24px;
  color: #ffffff; 
  text-align: center;
    display: flex;
  justify-content: center;
  align-items: center;
  gap: 8%;
}
.Netflix_Logo {
  width: 15%; 
  height: auto;
  margin-top:  5%;
  margin-left: 5%;
}